doctype html
html
  head
    title Portafolio de #{nombre}
  body
    h1 Bienvenido a mi Portafolio, #{nombre}!
    a(href=`/Portafolio/${nombre}/habilidades`) Ver mis habilidades
    a(href=`/Portafolio/${nombre}/contactame`) Contactame
